body {

	background-image: url(polo.jpg); 
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
		background-size: cover;
		background-color: beige;


}

hr {
  max-width: 65px;
  border-width: 3px;
  background-color: #F05F44; 
  margin-top: 200px;
  margin-bottom: 30px; 
}

/*hr {
  max-width: 65px;
  border-width: 88px;
  border-color: #F05F44;
  background-color: #ee4b08; 
  margin-top: 280px;
  margin-left: 240px;
  border: 2px solid #F05F44;
}*/

/*h2{

	tex
}*/

/*img{

width: 300px;
	height: 200px;

}*/



.container{

	margin-top: 200px;
	text-align: center;
	color: white;
	/*border-bottom: 2px solid skyblue;*/
	/*box-shadow: 4px 4px 5px  transparent;*/

}

.container2{

	margin-top: 100px;
	text-align: center;
	margin-bottom: 300px;
}
.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Montserrat', sans-serif;
}

.btn-xl {
  padding: 1rem 2rem; 
}

.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44; }

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 3px;
  cursor: pointer;
}
.foot{

	text-align: center;
}
/*.btn-xl {
  padding: 1rem 2rem; 
}

	.btn-outline-danger:hover {
  color: #fff;
  background-color: crimson;
  border-color: skyblue;
  cursor: pointer;
}*/



/*.btn-outline-danger1 {
  color: #dc3545;
  border-color: #dc3545;
}
.btn-outline-danger1:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
*//*
hr {

	width: 800px;
	color: crimson;
	margin-top: 80px;
margin-left: -50px;
	background-position: center center;
}*/